<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdgj.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdgj.entity.Address">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="name" property="name" />
        <result column="company" property="company" />
        <result column="phone" property="phone" />
        <result column="fax" property="fax" />
        <result column="street1" property="street1" />
        <result column="street2" property="street2" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="post" property="post" />
        <result column="region" property="region" />
        <result column="country" property="country" />
        <result column="userid" property="userid" />
        <result column="created_time" property="createdTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_default" property="isDefault" />
        <result column="idCardNo" property="idCardNo" />
    </resultMap>

	<select id="setDefaultAddress" resultType="com.hdgj.entity.Address">
		1.如果有传来的旧默认地址的值（说明是将新地址或者旧地址设置为了默认地址）,说明之前有旧的默认地址,则就直接插入并且设置为默认地址,修改掉原来的默认地址就好了，然后再插入/更新
		2.若没有传来的默认地址（说明是新增地址或者更新地址），则直接插入或更新
		（插入或更新则使用：ON DUPLICATE KEY UPDATE）
		<if test="isDefauilt == 2">
			
		</if>
	</select>
</mapper>
